<h1 class="title_parts">Résultats</h1>

<div class="row align-justify">

	<div class="col-lg-4 m-1 m-sm-0 result-block">

		<div class="row align-justify">
			<h4 class="text-center">Retraite mensuelle nette estimée</h4><br/>
		</div>


		<hr style="width:25%; border-top: 2px dotted white;"/>

		<div class="row m-1">
			<div class="col-lg-7 align-justify flex-inline">
				<i class="fa fa-info icon-info text-center" data-toggle="tooltip" data-placement="top" title="Montant de la pension nette versée si le cotisant a des ayant-droits (époux, enfants...)."></i>
				<span class="label">Avec réversion</span>
			</div>
			<div class="col-lg-5 align-justify">
				<span class="data"><%= dataset.monthly_pension_if_reversion %></span>
			</div>
		</div>
		<hr style="width:50%; border-top: 1px solid white;"/>
		<div class="row m-1">
			<div class="col-lg-7 align-justify">
				<i class="fa fa-info icon-info text-center" data-toggle="tooltip" data-placement="top" title="Montant de la pension nette versée si le cotisant n'a pas d'ayant-droits."></i>
				<span class="label">Sans réversion</span>
			</div>
			<div class="col-lg-5 align-justify">
				<span class="data"><%= dataset.monthly_pension_without_reversion %></span>
			</div>
		</div>
	</div>

	<div class="col-lg-8 icon-data">
		<div class="row align-justify">
			<h4>Informations clés</h4>
		</div>
		<hr style="width:25%; border-top:2px dotted #548687"/>

		<div class="row m-1">
			<div class="col-lg-2 align-justify">
				<i class="fa fa-file-text-o"></i>
			</div>
			<div class="col-lg-5 col-6 align-justify">
				<span class="label">Nombre de mois cotisés</span>
			</div>

			<div class="col-lg-5  col-6 align-justify">
				<span class="data"><%= dataset.contribution_months %></span>
			</div>
		</div>

		<hr style="width:75%; border-top: 1px solid #8fbc94"/>

		<div class="row m-1">
			<div class="col-lg-2 align-justify">
				<i class="fa fa-calendar"></i>
			</div>
			<div class="col-lg-5 col-6 align-justify">
				<span class="label">Année de départ en retraite</span>
			</div>

			<div class="col-lg-5 col-6 align-justify">
				<span class="data"><%= dataset.retirement_year %></span>
			</div>
		</div>

		<hr style="width:75%; border-top: 1px solid #8fbc94"/>

		<div class="row m-1">
			<div class="col-lg-2 align-justify">
				<i class="fa fa-money"></i>
			</div>
			<div class="col-lg-5 align-justify">
				<span class="label">Sortie immédiate en capital</span>
			</div>

			<div class="col-lg-5 align-justify">
				<span class="data"><%= dataset.capital_withdrawal %></span>
			</div>

		</div>
	</div>

</div>


<div class="row m-4">

	<div class="col-sm-6 col-lg-4 align-justify">
		<div class="chart piechart">
			<canvas id="piechart_pension" height="300"></canvas>
		</div>
	</div>

	<div class="col-sm-6 col-lg-8 align-justify">
		<div class="chart">
			<canvas id="barchart_pension" height="300" ></canvas>
		</div>
	</div>

</div>



<hr>

<h3 class="subtitle">Détail</h3>
<button class="btn btn-warning" id="btn-export">Exporter au format CSV</button>
<div class="row">
	<div class="col-lg-6">

		<table class="table table-hover table-striped">
			<thead><tr><th>Revenu et cotisation</th></tr></thead>
			<tr>
				<td>Plage mensuelle de cotisation</td>
				<td id="monthly_contribution_basis"><%= dataset.monthly_contribution_basis %></td>
			</tr>
			<tr>
				<td>Revenu mensuel net de cotisation</td>
				<td id="net_monthly_revenue"><%= dataset.net_monthly_revenue %></td>
			</tr>
			<tr>
				<td>Cotisation mensuelle - hors cotisation additionnelle</td>
				<td id="monthly_contribution"><%= dataset.monthly_contribution %></td>
			</tr>

			<tr>
				<td>Cotisation investie (nette de frais généraux)</td>
				<td id="invested_contribution"><%= dataset.invested_contribution %></td>
			</tr>
		</table>
		<table class="table table-hover table-striped">
			<thead><tr><th>Informations générales</th></tr></thead>
			<tr>
				<td>Nombre d'années de cotisation</td>
				<td id="contribution_years"><%= dataset.contribution_years %></td>
			</tr>
			<tr>
				<td>Taux minimum garanti (mensuel)</td>
				<td id="monthly_TMG_rate"><%= dataset.monthly_TMG_rate %></td>
			</tr>
		</table>
		<table class="table table-hover table-striped">
			<thead><tr><th>Espérance de vie</th></tr></thead>						
			<tr>
				<td>Espérance de vie à la retraite</td>
				<td id="expected_lifespan"><%= dataset.expected_lifespan %></td>
			</tr>
			<tr>
				<td>Coefficient de conversion du capital en rentes de l'assuré</td>
				<td id="conversion_coefficient"><%= dataset.conversion_coefficient %></td>
			</tr>
		</table>
	</div>
	<div class="col-lg-6">
		<table class="table table-hover table-striped">
			<thead><tr><th>Capital</th></tr></thead>
			<tr>
				<td>Capital accumulé</td>
				<td id="accumulated_capital"><%= dataset.accumulated_capital %></td>
			</tr>

			<tr>
				<td>Capital retraite</td>
				<td id="pension_capital"><%= dataset.pension_capital %></td>
			</tr>
			<tr>
				<td>Sortie en capital</td>
				<td id="capital_withdrawal"><%= dataset.capital_withdrawal %></td>
			</tr>
		</table>
		<table class="table table-hover table-striped">
			<thead><tr><th>Sans réversion</th></tr></thead>
			<tr>
				<td>Rente viagère sans réversion</td>
				<td id="life_annuity_without_reversion"><%= dataset.life_annuity_without_reversion %></td>
			</tr>
			<tr>
				<td>Retraite mensuelle nette sans réversion</td>
				<td id="monthly_pension_without_reversion"><%= dataset.monthly_pension_without_reversion %></td>
			</tr>
			<tr>
				<td>Taux de remplacement sans réversion</td>
				<td id="replacement_rate_without_reversion"><%= dataset.replacement_rate_without_reversion %></td>
			</tr>
		</table>
		<table class="table table-hover table-striped">

			<thead><tr><th>En cas de réversion</th></tr></thead>

			<tr>
				<td>Rente viagère en cas de réversion</td>
				<td id="life_annuity_if_reversion"><%= dataset.life_annuity_if_reversion %></td>
			</tr>
			<tr>
				<td>Retraite mensuelle nette en cas de réversion</td>
				<td id="monthly_pension_if_reversion"><%= dataset.monthly_pension_if_reversion %></td>
			</tr>
			<tr>
				<td>Taux de remplacement en cas de réversion</td>
				<td id="replacement_rate_if_reversion"><%= dataset.replacement_rate_if_reversion %></td>
			</tr>
		</table> 
	</div>
</div>

<script>


	//Activation tooltip
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})

	//Export data button

	$('#btn-export').click( function() {
		exportTableToCSV('resultats.csv')
	});

	function remakeNumber(str) {

		return Number(str.split(' ').join(''))

	}

	// Pie Chart

	var capital_withdrawal = remakeNumber('<%= dataset.capital_withdrawal %>');
	var pension_capital = remakeNumber('<%= dataset.pension_capital %>');


	var ctx_piechart = document.getElementById("piechart_pension").getContext("2d");

	var gradientStroke = ctx_piechart.createLinearGradient(0, 0, 100, 500);
	gradientStroke.addColorStop(0, "#8fbc94");
	gradientStroke.addColorStop(1, "#548687");

	var config_piechart = {
		type: 'pie',
		data: {
			labels: ['Sortie en capital','Capital retraite'],
			datasets: [{
				type: 'pie',
				backgroundColor: ["#548687",gradientStroke],
				data: [capital_withdrawal,pension_capital]
			}]
		},
		options: {

			title: {
				display: true,
				text: "Répartition du capital accumulé",
				fontSize:14
			}
		}
	};

	new Chart(ctx_piechart, config_piechart);


	// Bar Chart

	var monthly_pension_without_reversion_BC = remakeNumber('<%= dataset.monthly_pension_without_reversion_BC %>');
	var monthly_pension_if_reversion_BC = remakeNumber('<%= dataset.monthly_pension_if_reversion_BC %>');
	var monthly_pension_without_reversion_AC = remakeNumber('<%=dataset.monthly_pension_without_reversion_AC%>');
	var monthly_pension_if_reversion_AC = remakeNumber('<%= dataset.monthly_pension_if_reversion_AC %>');


	var ctx_barchart = document.getElementById("barchart_pension").getContext("2d");


	var bar_gradientStroke = ctx_barchart.createLinearGradient(0, 0, 0, 700);
	bar_gradientStroke.addColorStop(0, "#8fbc94");
	bar_gradientStroke.addColorStop(1, "#548687");


	var config_barchart = {
		type: 'bar',
		data: {
			labels: ["Sans réversion", "Si réversion"],
			datasets: [{
				type: 'bar',
				label: 'Retraite de base',
				backgroundColor: "#548687",
				data: [monthly_pension_without_reversion_BC, monthly_pension_if_reversion_BC],
			}, {
				type: 'bar',
				label:'Part due aux cotisations additionnelles',
				backgroundColor: bar_gradientStroke,
				data: [monthly_pension_without_reversion_AC, monthly_pension_if_reversion_AC]
			}]
		},
		options: {

			title: {
				display: true,
				text: "Estimation de la retraite nette",
				fontSize:14
			},
			responsive: true,
			maintainAspectRatio: false,
			scales: {
				xAxes: [{
					stacked: true,
					maxBarThickness: 150,
				}],
				yAxes: [{
					stacked: true
				}]
			}
		}
	};

	new Chart(ctx_barchart, config_barchart);



</script>